p {
  margin-bottom: 10px;
}

.home-page-links {
  text-align: center;
  .Polaris-List {
    list-style-type: none;
  }
}

.login-page {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  .empty-state-content {
    width: 100%;
    padding: 20px;
    .account-markup {
      font-size: 14px !important;
    }
    .empty-state-description {
      margin-bottom: 10px;
    }
  }
}

.login-modal {
  .header {
    .header-logo {
      margin: 0 auto;
      text-align: center;
      img {
        width: 30%;
      }
    }
  }
  .form-login {
    max-width: 50%;
    margin: 0 auto;
    .form-component {
      margin: 15px 0;
      &.button-field {
        margin: 20px 0;
        .Polaris-Button {
          width: 100%;
          border-radius: 20px;
        }
      }
      &.help-text {
        text-align: center;
      }
    }
  }
}

.qualify-modal {
  .header {
    .header-logo {
      margin: 20px auto 0;
      text-align: center;
      img {
        width: 30%;
      }
    }
    .header-description {
      padding: 10px 20px;
      margin: 0 auto;
    }
  }
  .qualifying-steps {
    padding: 0 20px;
    .transitionStep {
      color: white;
      width: 24px;
      height: 24px;
      font-size: 12px;
      background-color: rgba(211, 211, 211, 0.8);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .transitionStep.accomplished {
      background-color: #3f4eae;
    }
    .step-content {
      padding: 30px 0 20px;
      .header {
        margin: 20px 0;
        .heading {
          font-weight: bold;
          font-size: 24px;
        }
      }
      .form-component {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    .actions {
      display: inline-flex;
      width: 100%;
      padding: 20px 0 40px;
      position: relative;
      .btn {
        position: absolute;
        // button {
        // 	background: lighten(#b02386, 15);
        // 	border-color: lighten(#b02386, 15);
        // 	box-shadow: none;
        // }
      }
      .previous-btn {
        left: 0;
      }
      .next-btn,
      .complete-btn {
        right: 0;
      }
    }
  }
}

.account-page {
  padding: 40px;
  background-color: #fff;
  .heading-welcome {
    margin-bottom: 20px;
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  .banner {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .layout {
    padding: 40px 0;
    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
    .content-left {
      padding: 0 2rem 0;
    }
    .product-banner-status,
    .available-product-quantity {
      margin-bottom: 20px;
    }
    .product-badge-status {
      margin-bottom: 20px;
      .product-quantity {
        margin-left: 10px;
        color: #006fbb;
      }
      &.published {
        span.Polaris-Badge {
          color: green;
          background-color: #E3F1DF;
          span.Polaris-Badge__Pip {
            color: #50B83C;
          }
        }
      }
      &.not-published {
        span.Polaris-Badge {
          color: #bf0711;
          background-color: #FBEAE5;
          span.Polaris-Badge__Pip {
            color: #BF0711;
          }
        }
      }
    }
  }
}

.signup-page {
  .Polaris-Label__Text {
    font-size: 1.3rem;
  }
  padding: 40px;
  background-color: #fff;
  .heading-welcome {
    margin-bottom: 20px;
    text-align: center;
    .header-logo {
      text-align: left;
      img {
        width: 200px;
      }
    }
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  .layout {
    .heading {
      margin: 20px 0;
    }
  }
  .actions {
    margin: 10px 0;
    text-align: right;
  }
}

.error-banner {
  .Polaris-List__Item {
    margin-bottom: 0;
  }
}

.Polaris-EmptyState__Details {
  margin: 0 auto;
}

.Polaris-EmptyState__ImageContainer {
  @media only screen and (max-width: 743px) {
    display: none;
  }
}
